Source: node-qrcode
Section: javascript
Priority: optional
Maintainer: s0600204 <dev@s0600204>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-nodejs,
 node-dijkstrajs,
 node-pngjs,
 node-yargs,
 nodejs,
 rollup
Standards-Version: 4.6.2
Homepage: https://github.com/soldair/node-qrcode.git

Package: node-qrcode
Architecture: all
Depends:
 ${misc:Depends},
 node-dijkstrajs,
 node-pngjs,
 node-yargs
Description: QR code/2d barcode generator.
